<div class="dino-card">
  <img src="<%- dino.image_dinosaure %>" alt="image-of-<%- dino.nom_dinosaure %>" />
  <h2><%- dino.nom_dinosaure %></h2>
  <p><%- dino.description_dinosaure %></p>
  <p><%- dino.regime_dinosaure %></p>

  <% if (is_admin) { %>
  <button
    onclick="
      fetch('/admin/remove_dino/<%= dino.id%>').then((res)=>console.log(res.status));
    "
  >
    supprimer X
  </button>

  <% } %>
</div>
